body {
    color: white;
    background-color: rgb(0, 0, 0);
    background-color: #000;
}

#storyText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    background-color: #000;
    border-radius: 10px;
}


#choiceContainer1 {
    display: flex;
  /*  background-image:url(../img/bg.jpg); */
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100%;
  height: 90px;
  position:fixed;   

}

#choiceContainer2 {
    display: flex;
  /*  background-image:url(../img/bg.jpg); */
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
  position:fixed;                 
                bottom:0; 
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 400px;
}

.choices {
    
    height: 50%;
    width: 80%;
    margin: 15px 10px 15px;
    background-color: rgb(29, 29, 31);;
    padding: 10px;
    border-radius: 15px;
    border: white;
    box-shadow: -2px 2px 2px #49bcdf;
}